@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.service_section {
  /* background-color: rgba(84, 101, 189, 0.08); */
}

.service_card {
  background-color: rgba(84, 101, 189, 0.08);
  border-radius: 20px;
}

.work_card {
  background-color: rgba(84, 101, 189, 0.08);
  border-radius: 20px;
}

/* .choose_us_card {
  background: linear-gradient(to bottom, rgba(95,244,254,1) 25%, rgba(63,175,190,0.989233193277311) 100%);
} */

@media screen and (max-width:640px) {
  .service_card {
    background-color: white;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
