@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  scroll-behavior: smooth;
}

.footer_copyright {
  background-color: rgba(84, 101, 189, 0.16);
  color: white;
}

.service_card {
  background-color: rgba(84, 101, 189, 0.08);
  border-radius: 20px;
}

.work_card {
  background-color: rgba(84, 101, 189, 0.2);
  border-radius: 20px;
}

.signup_bg_color {
  background-color: rgba(84,101,189,0.1);
}

input.signup_bg_color {
  background-color: rgba(84,101,189,0)
}
/* .choose_us_card {
  background: linear-gradient(to bottom, rgba(95,244,254,1) 25%, rgba(63,175,190,0.989233193277311) 100%);
} */

@media screen and (max-width:640px) {
  .service_card {
    background-color: white;
 
  }
}

@keyframes unlock {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-2px) rotate(-45deg);
  }
  100% {
    transform: translateY(-4px) rotate(-90deg);
  }
}

.animate-unlock {
  animation: unlock 0.5s ease-in-out forwards;
  transform-origin: center;
}

/* @keyframes unlock {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-2px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.animate-unlock {
  animation: unlock 0.5s ease-in-out;
} */



/* @keyframes unlock {
  0% {
    transform: translateY(0) rotate(0);
  }
  20% {
    transform: translateY(-2px) rotate(-5deg);
  }
  40% {
    transform: translateY(-4px) rotate(10deg);
  }
  60% {
    transform: translateY(-6px) rotate(-10deg);
  }
  80% {
    transform: translateY(-8px) rotate(5deg);
  }
  100% {
    transform: translateY(-10px) rotate(-90deg);
  }
}

.animate-unlock {
  animation: unlock 0.75s ease-in-out forwards;
  transform-origin: 24px 30px; /* Adjusted for the new SVG size */




/* @keyframes shimmer {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
}

.lock-shine {
  animation: shimmer 2s infinite;
} */
